<h1>Boards</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Board Title</th>
            <th scope="col">Text</th>
        </tr>
    </thead>
    <tbody>
        <% @boards.each do |board|%>
        <tr>
            <td scope><%= board.name %> </th>
            <td scope><%= board.text %> </th>
                        <td scope><p>Blad</p></th>

        </tr>
        <% end %>
    </tbody>
</table>
